body {
  background-color: #ffffff;
  font-family: var(--main-font);
  color: var(--main-title-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  transition: color, 250ms var(--time-function);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  color: currentColor;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 1200px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 500ms linear;
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  widows: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
}
.modal-btn-close:hover {
  fill: var(--hover-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-field {
  margin-top: 10px;
  position: relative;
}

.modal-lable {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  top: 0;
  left: 12px;
}
.modal-icon:focus {
  fill: var(--hover-color);
  outline: var(--hover-color);
  transition: color, 250ms var(--time-function);
}

.modal-form {
  margin-top: 12px;
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
}
.modal-input:focus {
  border-color: var(--hover-color);
  outline: var(--hover-color);
  transition: color, 250ms var(--time-function);
}

.modal-input:focus ~ .modal-icon {
  fill: var(--hover-color);
  transition: color, 250ms var(--time-function);
}

.modal-text-area {
  resize: none;
  width: 100%;
  min-height: 120px;
  padding: 12px 16px;
}
.modal-text-area::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.6);
}

.check-label {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  align-items: center;
  justify-content: center;
}
.check-label span {
  width: 16px;
  height: 15px;
  border: 2px solid rgb(33, 33, 33);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  cursor: pointer;
  transition: color, 250ms var(--time-function);
}

.modal-submit {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.modal-submit:hover, .modal-submit:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: color, 250ms var(--time-function);
}

.submit-wrap {
  margin-top: 30px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.offer-terms-link {
  color: #2196f3;
  text-decoration: underline;
}

.offer-terms-icon {
  fill: transparent;
}
.check-input:checked + .check-label .offer-terms-icon {
  fill: #ffffff;
}

.check-input:checked + .check-label span {
  border: none;
  background-color: var(--hover-color);
  transition: color, 250ms var(--time-function);
}

.pre-title {
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.logo {
  font-family: "Raleway";
  font-weight: 700px;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  margin-right: 93px;
}

.logo-header {
  color: #000000;
}

.logo-footer {
  color: #ffffff;
}

.header {
  padding: 24px;
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__list {
  margin-left: auto;
  display: flex;
}

.contacts__item:not(:first-child) {
  margin-left: 50px;
}

.contacts__link--header {
  display: flex;
  color: #757575;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  justify-content: baseline;
  align-items: center;
}
.contacts__link--header:hover, .contacts__link--header:focus {
  color: var(--hover-color);
}

.nav__link {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  color: #000000;
  padding: 32px 0;
}
.nav__link:hover, .nav__link:focus {
  color: var(--hover-color);
}

.nav-list .link.current {
  color: var(--hover-color);
}

.current::after {
  position: absolute;
  display: flex;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: var(--hover-color);
}

.hero .container {
  justify-content: center;
}

.hero {
  background-color: #2f303a;
  max-width: 1600px;
  height: 600px;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-gb.png);
  background-repeat: n o-repeat;
  background-size: cover;
  background-position: center;
  margin: auto;
}

.hero-title {
  width: 696px;
  margin: 0 auto 30px;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--hover-color);
  color: #ffffff;
  cursor: pointer;
  padding: 10px 32px;
  min-width: 200px;
  margin: auto;
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
}
.hero-btn:hover, .hero-btn:focus {
  background-color: var(--hover-color);
}

.benefits {
  padding-top: 94px;
}

.benefits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.benefits__list {
  display: flex;
}

.benefits__item {
  width: 270px;
}
.benefits__item:not(:last-child) {
  margin-right: 30px;
}

.benefits-icon__item {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 2%;
  margin-left: 30px;
  justify-content: center;
  align-items: center;
}
.benefits-icon__item:first-child {
  margin-left: 0;
}

.benefits-icon__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}

.team {
  background-color: #f5f4fa;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
}

.soc-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.soc-icon-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.soc-icon-link {
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-left: 10px;
  background-color: #ffffff;
  fill: #afb1b8;
}
.soc-icon-link:first-child {
  margin-left: 0px;
}
.soc-icon-link:hover, .soc-icon-link:focus {
  fill: #ffffff;
  background-color: var(--hover-color);
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-item {
  width: 170px;
  height: 92px;
  margin-left: 30px;
}
.clients-item:first-child {
  margin-left: 0;
}

.clients-icon-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.clients-icon-link:hover, .clients-icon-link:focus {
  fill: var(--hover-color);
  border-color: var(--hover-color);
  outline: var(--hover-color);
}

.work-top-wrap {
  position: relative;
  display: flex;
}

.work-top-wrap__text {
  position: absolute;
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  justify-content: center;
}

.work__item {
  justify-content: center;
  align-items: center;
}
.work__item:not(:last-child) {
  margin-right: 30px;
  justify-content: center;
}

.work-list {
  display: flex;
}

.filter {
  margin-bottom: 50px;
}

.filter-btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
}
.filter-btn:hover, .filter-btn:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--hover-color);
  color: #ffffff;
}

.filter-list {
  display: flex;
  justify-content: center;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

/*---------work-examples---------*/
.examples-wrap {
  position: relative;
  overflow: hidden;
}

.examples-top-text {
  position: absolute;
  top: 0;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  transform: translateY(100%);
  transition: transform 250ms linear;
  padding: 63px 24px;
}
.examples-item:hover .examples-top-text {
  transform: translateY(0%);
}

.examples-content {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.examples-item:hover,
.example-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* .examples-item:not(:last-child) {
	margin-right: 30px;
} */
.examples-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer .container {
  display: flex;
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: #ffffff;
  margin-top: 20px;
}

.footer-soc {
  margin-left: 70px;
}

.footer__item {
  margin-top: 9px;
}

.footer-icon-list {
  display: flex;
}

.footer-icon__item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}
.footer-icon__item:first-child {
  margin-left: 0;
}

.footer-icon__link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #44454e;
  fill: #ffffff;
}
.footer-icon__link:hover, .footer-icon__link:focus {
  fill: #ffffff;
  background-color: var(--hover-color);
}

.footer-soc__title {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.contacts__link--footer {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  justify-content: center;
  align-items: center;
}
.contacts__link--footer:hover, .contacts__link--footer:focus {
  color: var(--hover-color);
}

.email-form {
  display: flex;
}

.email-list-wrap {
  margin-left: 93px;
}

.email-form-wrap {
  display: flex;
  align-items: center;
}

.email-list__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.email-list__btn {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-left: 12px;
  padding: 10px 29px;
}

.email-list__icon {
  margin-left: 10px;
}

.email-form__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  background: #2f303a;
  color: #ffffff;
  height: 50px;
  min-width: 358px;
  padding-left: 16px;
}

:root {
  --hover-color: #2196f3;
  --main-title-color: #212121;
  --text-color: #757575;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --main-font: "Roboto", sans-serif;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}/*# sourceMappingURL=main.css.map */