
.logo {
  font-family: 'Raleway';
  font-weight: 700px;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  margin-right: 93px;
}

.logo-header {
  color: #000000;
}

.logo-footer {
  color: #ffffff;
}