.benefits {
  // padding-top: 94px;
  // margin-bottom: 94px;
}

.benefits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
    @include mobile {
      text-align: center;
  }
  
  
}

.benefits__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);

}


.benefits-icon__item {
    width: 100%;
    margin-bottom: 30px;
    @include mobile {
      margin-bottom: 30px;
    }
  

  @include tablet {
    width: calc((100% - 60px) / 2);
      display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  border-radius: 2%;
  }

  @include desktop {
    width: calc((100% - 90px)/4);
      display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  border-radius: 2%;
  }
 
  }

.benefits-icon__list {

  @include tablet {
     display: flex;
  flex-wrap: wrap;
  gap: 30px;
  }

  @include desktop{
       display: flex;
  flex-wrap: wrap;
  gap: 30px;
  }
 
  
}




.benefits-icon-wrap {
display: flex;
justify-content: center;
align-items: center;
height: 120px;
width: 100%;
margin-bottom: 30px;
background-color: #f5f4fa;

}
