.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
   .container {
      display: flex;
}
}



.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: #ffffff;
  margin-top: 20px;
}

.footer-soc {
  margin-left: 70px;
}

.footer__item {
  margin-top: 9px;
}

.footer-icon-list {
  display: flex;
}

.footer-icon__item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
  &:first-child {
    margin-left: 0;
  }
}



.footer-icon__link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #44454e;
  fill: #ffffff;
  &:hover,
  &:focus {
    fill: #ffffff;
    background-color: var(--hover-color);
  }
}



.footer-soc__title {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.contacts__link--footer {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  justify-content: center;
  align-items: center;
  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}





.email-form {
  display: flex;
}

.email-list-wrap {
  margin-left: 93px;
}

.email-form-wrap {
  display: flex;
  align-items: center;
}

.email-list__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.email-list__btn {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-left: 12px;
  padding: 10px 29px;
}

.email-list__icon {
  margin-left: 10px;
}

.email-form__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  background: #2f303a;
  color: #ffffff;
  height: 50px;
  min-width: 358px;
  padding-left: 16px;
}
