.header {
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: inline-flex;
  margin: 0;
  padding: 10px 0;

  background-color: transparent;
  border: none;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  z-index: 3;

  cursor: pointer;

  &:hover,
  &:focus {
    fill: #2196f3;
  }

  @include tablet {
    display: none;
  }
}

.menu__icon {
  width: 40px;
  height: 40px;
}

.menu__close {
  opacity: 0;
  transform: translateY(-100%);

  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__open {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

// Open menu
.menu.is-open .menu__open {
  opacity: 0;
  transform: translateY(100%);
}

.menu.is-open .menu__close {
  opacity: 1;
  transform: translateY(0);
}

.menu.is-open ~ .navigation__menu {
  transform: translateX(0);
  visibility: visible;
  pointer-events: initial;
}

.navigation__menu {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;

  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;

  width: 100vw;
  height: 100vh;

  flex-direction: column;
  justify-content: space-between;

  overflow: auto;
  pointer-events: none;
  transform: translateX(-100%);
  visibility: hidden;
  z-index: 2;

  background-color: #fff;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include tablet {
    position: static;

    margin-left: 88px;
    padding: 0;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 0;

    height: 100%;

    background-color: transparent;
    pointer-events: all;
    transform: translate(0);
    visibility: visible;
  }

  @include desktop {
    margin-left: 93px;
  }
}

.navigation__list {
  @extend %list;

  @include tablet {
    display: flex;
  }
}

.navigation__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;

  margin-bottom: 32px;

  @include tablet {
    position: relative;
    display: flex;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.navigation__link {
  @extend %link;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #2196f3;
  }

  &--active {
    color: #2196f3;
  }

  @include tablet {
    padding: 32px 0;

    &--active::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;

      width: 100%;
      height: 4px;

      background-color: #2196f3;
      border-radius: 2px;
    }
  }
}

.contacts__list {
  @extend %list;

  display: flex;
  flex-direction: column-reverse;

  margin-bottom: 64px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  @include tablet {
    flex-direction: column;
    margin: 0;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }

  @include desktop {
    flex-direction: row;
    align-items: center;

    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts__item {
  &:last-child {
    margin-bottom: 32px;

    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #2196f3;
  }

  @include tablet {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;

      font-weight: 500;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.02em;
      color: currentColor;
    }
  }

  @include desktop {
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.14;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &:last-child {
      font-size: 14px;
      line-height: 1.14;
    }
  }
}

.contacts__link {
font-weight: 500;
font-size: 14px;
line-height: calc(16px / 14px);
letter-spacing: 0.02em;

color: #757575;

  @extend %link;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #2196f3;
  }

  @media screen and (max-width: getSize(tablet)) {
    &--phone {
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &--phone:hover,
    &--phone:focus {
      background-color: #2196f3;
      color: #fff;
      border-radius: 2px;
    }
  }

  @include tablet {
    display: flex;
    align-items: center;
  }
}

.contacts__link--phone {
font-weight: 500;
font-size: 34px;
line-height: calc(40px / 34px);
letter-spacing: 0.02em;

color: #2196F3;

@include tablet {
  font-weight: 500;
font-size: 12px;
line-height: calc(14px / 12px);
letter-spacing: 0.02em;

color: #757575;
}

@include desktop {
  font-weight: 500;
font-size: 14px;
line-height: calc(16px / 14px);
letter-spacing: 0.02em;

color: #757575;

}
}

.contacts__link--mail {
  font-weight: 500;
font-size: 24px;
line-height: calc(28px / 24px);
letter-spacing: 0.02em;

color: #757575;

@include tablet {
  font-weight: 500;
font-size: 12px;
line-height: calc(28px / 24px);
letter-spacing: 0.02em;

color: #757575;
}

@include desktop {
  font-weight: 500;
font-size: 14px;
line-height: calc(16px / 14px);
letter-spacing: 0.02em;

color: #757575;
}
}

.contacts__icon {
  display: none;

  @include tablet {
    display: block;
    margin-right: 8px;
    fill: currentColor;

    &--mail {
      width: 14px;
      height: 10px;
    }

    &--phone {
      width: 10px;
      height: 14px;
    }
  }

  @include desktop {
    display: block;
    margin-right: 10px;

    &--mail {
      width: 16px;
      height: 12px;
    }

    &--phone {
      width: 10px;
      height: 16px;
    }
  }
}

.social-mob__list {
  @extend %list;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include tablet {
    display: none;
  }
}

.social-mob__item {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;

  margin-bottom: 5px;

  &:not(:last-child) {
    margin-right: 10px;

    &::after {
      content: '';
      margin-left: 10px;
      width: 1px;
      height: 22px;
      background-color: rgba(33, 33, 33, 0.2);
    }
  }
}

.social-mob__link {
  @extend %link;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #2196f3;
    color: #fff;
    border-radius: 2px;
  }
}
