.hero .container {
  justify-content: center;
  align-items: center;
  max-width: 480px;
  // height: 400px;
  @include desktop {
    max-width: 1200px;
  }
}

.hero {
  background-color: #2f303a;
  max-width: 1600px;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-gb.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 118px 0;
  // margin: auto;
 

  // Mobile
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../index-hw8/hero/header-mob-2x.jpg);
  }

  // Tablet
  @include tablet {

    padding-top: 118px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../index-hw8/hero/header-tablet.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../index-hw8/hero/header-tablet-2x.jpg);
    }

  }

  @include desktop {
    height: 600px;
    padding-bottom: 200px;
    padding-top: 200px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../index-hw8/hero/header.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../index-hw8/hero/header-2x.jpg);
    }
  }
}

.hero-title {
  max-width: 360px;
  margin: 0 auto 30px;
  text-align: center;
  align-items: center;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);

  @include tablet {
    max-width: 360px;
    font-size: 26px;
    color: #FFFFFF;
  }

  @include desktop {
    min-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--hover-color);
  color: #ffffff;
  cursor: pointer;
  padding: 10px 32px;
  margin: auto;
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  &:hover,
  &:focus {
    background-color: var(--hover-color);
  }
}
